body{
	background:#e2e2e2;
}
.bg-primary{
	background:#009688;
}
.banner{
	width:100%;
	height : 93vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../image/Banner.jpg);
	background-size:cover;
	color:white;
}
.my-card{
	padding:20px;
	background: #ffffff;
	
}

/* side bar style*/
@media only screen and (max-width: 600px){
  .sidebar{
  display: none;
	width: 80%;
	background: white;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
}
.contents{
	margin-left: 0%;
	
}
  }
.sidebar{
	width: 19%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	left: -250px;      /* hidden */
  transition: 0.3s;
  display: block;
}
.sidebar.visible {
  left: 0;           /* visible */
}

.sidebar a{
	
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color:gray;
}
.sidebar a:hover{
	background: #e2e2e2;
}
.sidebar .divider{
	width:100%;
	height: .5px;
	background: #e2e2e2;
	
}
.contents{
	margin-left: 20%;
	
}
.sidebar .cross-btn{
	position: absolute;
	top: 0;
	right:35px;
	font-size:36px;
	cursor:pointer;
}
