body{
	background:#e2e2e2;
}
.bg-primary{
	background:#009688;
}
.banner{
	width:100%;
	height : 93vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../image/Banner.jpg);
	background-size:cover;
	color:white;
}
.my-card{
	padding:20px;
	background: #ffffff;
	
}

/* side bar style*/
@media only screen and (max-width: 600px){
  .sidebar{
  
	width: 80%;
	background: white;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
}
.contents{
	margin-left: 0%;
	
}
  }
.sidebar{
	width: 19%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	left: 0;      /* visible */
  transition: 0.3s;
  display: block;
}
.sidebar.hidden {
  left: -250px;           /* hidden */
}

.sidebar a{
	
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color:gray;
}
.sidebar a:hover{
	background: #e2e2e2;
}
.sidebar .divider{
	width:100%;
	height: .5px;
	background: #e2e2e2;
	
}
.contents{
	margin-left: 20%;
	transition: margin-left 0.3s; /* smooth transition */
}
/* When sidebar is hidden */
.contents.full-width {
    margin-left: 0;
}
.sidebar .cross-btn{
	position: absolute;
	top: 0;
	right:35px;
	font-size:36px;
	cursor:pointer;
}
.my_profile_picture{
	width: 30px;
	height: 30px;
	object-fit:cover;
	border-radius:50%;
	
}
/* Search functionally */
.search-container{
	position: relative;
}
.search-result{
	position: absolute;
	background: white;
	width:100%;
	display: none;
	border: 1px solid gray;
	padding: 10px;
	 z-index: 1000;
}
.active{
	background:rgba(13,110,253,.5);
	color:white;
}
